<!-- Banner aside -->
<aside class="wedget__categories sidebar--banner sidebar-section">
    <div>
        <h3 class="block-header-banner">WINTER IS HERE</h3>
    </div>
    <img src="~/images/others/got-promo.jpg" alt="banner images">
</aside>
<!-- Banner aside -->
<aside class="wedget__categories sidebar--banner sidebar-section">
    <div>
        <h3 class="block-header-banner">The New Food Phenomenon!</h3>
    </div>
    <img src="~/images/others/banner_left.jpg" alt="banner images">
</aside>