
<aside class="wedget__categories poroduct--cat sidebar-section">
    <h3 class="wedget__title">Filter your search</h3>
    <div class="filter-input-group">
        <label class="filter-input-title">Keyword</label>
        <input class="filter-input-text" type="text">
    </div>
    <div class="filter-input-group">
        <label class="filter-input-title">Price range</label>
        <select class="filter-input-options">
            <option>All</option>
            <option>Afghanistan</option>
            <option>American Samoa</option>
            <option>Anguilla</option>
            <option>American Samoa</option>
            <option>Antarctica</option>
            <option>Antigua and Barbuda</option>
        </select>
    </div>
    <div class="filter-input-group">
        <label class="filter-input-title">Availability</label>
        <select class="filter-input-options">
            <option>All</option>
            <option>Afghanistan</option>
            <option>American Samoa</option>
            <option>Anguilla</option>
            <option>American Samoa</option>
            <option>Antarctica</option>
            <option>Antigua and Barbuda</option>
        </select>
    </div>
    <div class="filter-input-group">
        <label class="filter-input-title">Language</label>
        <select class="filter-input-options">
            <option>All</option>
            <option>Afghanistan</option>
            <option>American Samoa</option>
            <option>Anguilla</option>
            <option>American Samoa</option>
            <option>Antarctica</option>
            <option>Antigua and Barbuda</option>
        </select>
    </div>
    <div class="filter-input-group">
        <label class="filter-input-title">Format</label>
        <select class="filter-input-options">
            <option>All</option>
            <option>Afghanistan</option>
            <option>American Samoa</option>
            <option>Anguilla</option>
            <option>American Samoa</option>
            <option>Antarctica</option>
            <option>Antigua and Barbuda</option>
        </select>
    </div>
</aside>
