@model OnlineBookStoreDemo.Data.Models.Subscriber

<form id="subscriber-form"
      asp-controller="Subscriber"
      asp-action="Add"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-mode="replace"
      data-ajax-complete="completed">

    <div class="newsletter__box">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Email" placeholder="Enter your e-mail" />
        <button type="submit">Subscribe</button>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
</form>

    <script>
        completed = function (xhr) {
            alert(`Hi ${xhr.responseText}!`);
        };
    </script>