@model List<CategoryViewModel>
<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area bg-image--4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="bradcaump__inner text-left">
                    <h2 class="bradcaump-title">Books</h2>
                    <nav class="bradcaump-content">
                        <a class="breadcrumb_item" asp-controller="Home" asp-action="Index">Home</a>
                        <span class="brd-separetor">/</span>
                        <span class="breadcrumb_item active">Books</span>
                        <span class="brd-separetor">/</span>
                        <span class="breadcrumb_item active">Books</span>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area -->
<!-- Start Shop Page -->
<div class="page-shop-sidebar left--sidebar bg--light-gray section-padding--lg">
    <div class="container">
        <div class="row">
            <!-- Shop Aside -->
            <div class="col-lg-3 col-12 order-2 order-lg-1 md-mt-40 sm-mt-40">
                <div class="shop__sidebar">
                    <!-- Categories widget aside -->
                    <aside class="wedget__categories poroduct--cat sidebar-section">
                        <h3 class="wedget__title categories-title"><a href="/">Back to Homepage</a></h3>
                        <ul>
                            @foreach (var category in Model)
                            {
                                <li>
                                    <a asp-route="Category"
                                       asp-route-categoryId="@category.Id"
                                       asp-route-categoryName="@category.Name">
                                        @category.Name
                                    </a>
                                </li>
                            }
                        </ul>
                    </aside>
                    <!-- End Categories widget aside -->
                    <!-- Filter widget aside -->
                    <partial name="~/Views/Catalog/Partial/_FilterCatalogPartial.cshtml" />
                    <!-- End Filter widget aside -->
                    <!-- Banner aside -->
                    <partial name="~/Views/Catalog/Partial/_CatalogBannersPartial.cshtml" />
                    <!-- End Banner aside -->
                </div>
            </div>
            <!-- End Shop Aside -->
            <!-- Shop Main -->
            <div class="col-lg-9 col-12 order-1 order-lg-2 sidebar-right-section">
                <!-- BooksList Category Title -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="shop-list-title d-flex flex-wrap flex-md-nowrap justify-content-between">
                            <h2 class="title books-section">All Books</h2>
                        </div>
                    </div>
                </div>

                <vc:books-grid category-id="0"></vc:books-grid>
                <!-- End Shop Main -->
            </div>
        </div>
    </div>
</div>
